.error_title{
	font-size: 44px;
}
.error_icon{
	font-size: 34px;
}
.error_icon_plus{
	width: 80px;
}
.error_text{
	font-size: 18px;
}
.content{
	 display: -webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
  text-align: center;
  margin-top: 200px;
}
.btn_box{
	margin-left: 30px;
	top: 40px;
}
.f_btn{
	margin-right: 10px;
}